* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #353535; }

p, h1, h2, h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400; }

h1 {
  font-size: 3em;
  color: #162157; }

h2 {
  color: #162157;
  font-size: 2em; }

p {
  font-size: 1rem;
  max-width: 750px; }

a, a:visited {
  color: #0071AD; }
  a:hover, a:visited:hover {
    color: #A9C8E5;
    cursor: pointer; }

header, section, footer {
  width: 100%;
  position: relative; }

footer {
  background: #E6EEF4;
  color: #353535;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px; }
  footer .copyright {
    padding-top: 30px; }
    footer .copyright p {
      font-size: .675rem;
      line-height: 1rem; }

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 30px; }

.sketch-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  -ms-flex-pack: center;
      justify-content: center; }
  .sketch-row__wireframe {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    @media only screen and (min-width: 800px) {
      .sketch-row__wireframe {
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
        -ms-flex-negative: 0;
            flex-shrink: 0; } }
  .sketch-row__sketch {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    .sketch-row__sketch--tall {
      max-width: 600px; }
  .sketch-row--spacing > *:not(:first-of-type) {
    margin-left: 20px; }
  .sketch-row img {
    width: 100%; }
  @media only screen and (min-width: 800px) {
    .sketch-row {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
