* {
	box-sizing: border-box;
}

$font-fam-sans: "Open Sans", Helvetica, Arial, sans-serif;
$fs-sm: .75rem;
$fs-base: 1rem;

$font-fam-default: 'Open Sans', Helvetica, Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
