body {
	margin: 0;
	font-family: $font-fam-sans;
	color: $c-text;
}

header, section, footer {
	width: 100%;
	position: relative;
}

footer {
	margin-top: 50px;
	font-size: $fs-sm;
	.license, .copyright {
		display: inline-block;
	}
	.copyright {
		margin-left: 30px;
	}
}

.container {
	max-width: 1256px;
	margin: 0 auto;
	padding: 0 30px;
}
