$border-radius: 6px;
$border-sz: 4px;

body {
	margin: 0;
	font-family: $font-fam-sans;
	color: $c-text;
	@media only screen and (min-width: 800px) {
	margin: 60px 40px;
	}
}

p, h1, h2, h3 {
  font-family: $font-fam-default;
	font-weight: $font-weight-normal;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	color: $c-blue-dark;
	margin-top: 40px;
	@media only screen and (min-width: 800px) {
	font-size: 5em;}
}

h2 {
	color: $c-blue-dark;
	font-size: 2em;
	@media only screen and (min-width: 800px) {
	font-size: 4em;}
}

h3 {
	color: $c-blue-dark;
	font-weight: bold;
}

p {
	font-size: $fs-base;
	max-width: 750px;
}

a, a:visited {
	color: $c-link;
	&:hover {
		color: $c-blue-dark;
		cursor: pointer;
	}
}

header, section, footer {
	width: 100%;
	position: relative;
}

footer {
	background: $bg-dark-grey;
  color: $c-text;
	padding: 50px 0;
	text-align: center;
	margin-top: 20px;
	.copyright {
		padding-top: 30px;
		p {
			font-size: .675rem;
			line-height: 1rem; }
	}
}

.image {
	width: 100%;
  // max-width: 750px;
  height: auto;
  // box-shadow: 0px 4px 8px 2px rgba(14,120,197,.2);
}

.container {
	max-width: 1000px;
	margin: 0 auto;
  padding: 0 20px; }

.sketch-row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	justify-content: center;

		&__wireframe {
			flex-basis: 100%;

			@media only screen and (min-width: 800px) {
				flex-basis: 35%;
				flex-shrink: 0;
			}
		}

		&__sketch {
			flex-basis: 100%;

			&--tall {
				max-width: 600px;
			}
		}

		&--spacing {
			> *:not(:first-of-type) {
				margin-left: 20px;
			}
		}

		img {
			width: 100%;
		}

		@media only screen and (min-width: 800px) {
			flex-wrap: nowrap;
		}
	}

button,
.button {
	border-radius: $border-radius;
	padding: 20px 40px;
	background: $c-link;
	font-family: $font-fam-default;
  font-size: 24px;
	color: $c-white;
	font-size: 1rem;

	&:hover,
	&:active,
	&.active {
		cursor: pointer;
		background: $c-blue-dark;
		color: $c-white;
	}
}
