$border-radius: 6px;
$border-sz: 4px;

.container {
	max-width: 1000px;
	margin: 0 auto;
  padding: 0 20px;
	height: auto;
}

img{
	width: 100%;
  height: auto;
}

.sketch-row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	justify-content: center;

		&__wireframe {
			flex-basis: 100%;

			@media only screen and (min-width: 600px) {
				flex-basis: 35%;
				flex-shrink: 0;
			}
		}

		&__sketch {
			flex-basis: 100%;

			&--tall {
				max-width: 600px;
			}
		}

		&--spacing {
			> *:not(:first-of-type) {
				margin-left: 20px;
			}
		}

		img {
			width: 100%;
			height: auto;
		}

		@media only screen and (max-width: 600px) {
			flex-wrap: nowrap;
		}
	}

button,
.button {
	border-radius: $border-radius;
	padding: 20px 40px;
	background: $c-link;
	font-family: $font-fam-default;
  font-size: 2rem;
	color: $c-white;
		@media only screen and (max-width: 600px) {
		font-size: 2rem;}

	&:hover,
	&:active,
	&.active {
		cursor: pointer;
		background: $c-blue-dark;
		color: $c-white;
	}
}

body {
	margin: 0;
	font-family: $font-fam-sans;
	color: $c-text;
}

p, h1, h2, h3 {
  font-family: $font-fam-default;
	font-weight: $font-weight-normal;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
	color: $c-blue-dark;
	margin-top: 40px;
}

h2 {
	color: $c-blue-dark;
	font-size: 2rem;
}

h3 {
	color: $c-blue-dark;
	font-weight: bold;
}

p {
	font-size: $fs-base;
}

a, a:visited {
	color: $c-link;
	&:hover {
		color: $c-blue-dark;
		cursor: pointer;
	}
}

header, section, footer {
	width: 100%;
	position: relative;
}

footer {
	background: $bg-dark-grey;
  color: $c-text;
	padding: 50px 0;
	text-align: center;
	margin-top: 20px;
	.copyright {
		padding-top: 30px;
		p {
			font-size: .675rem;
			line-height: 1rem; }
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: auto;
		max-width: 100%;
		height: auto;
	}

	.image {
		width: auto;
		max-width: 100%;
		height: auto;
	}

	button,
	.button {
		width: 100%;
	}

	body {
		margin: 60px 40px;
		width: 100%;
		max-width: 100%;
	}

	h1 {
		font-size: 3rem; }

	h2 {
		font-size: 2rem; }
}
